<div
  fxLayout="row wrap"
  fxLayout.md="column wrap"
  fxLayout.sm="column wrap"
  fxLayout.xs="column wrap"
  fxLayoutGap="40px"
  fxLayoutGap.md="20px"
  fxLayoutGap.xs="20px"
  fxLayoutGap.sm="20px"
  fxLayoutAlign="center center"
  fxLayoutAlign.sm="stretch"
  fxLayoutAlign.xs="stretch"
  fxLayoutAlign.md="stretch"
  class="container">
  <div
    fxFlex="45"
    fxFlex.sm="100"
    fxFlex.md="100"
    fxFlex.xs="100"
    fxLayout="column wrap">
    <h1>
      {{ !this.hero.id ? 'New' : 'Edit' }} Hero: {{ this.hero?.superhero }}
    </h1>
    <div
      fxLayout="row"
      fxLayout.md="column wrap"
      fxLayout.xs="column wrap"
      fxLayout.sm="column wrap"
      fxLayoutGap="20"
      fxLayoutGap.md="0"
      fxLayoutGap.sm="0"
      fxLayoutGap.xs="0">
      <mat-form-field
        appearance="fill"
        fxFlex="50"
        fxFlex.sm="100"
        fxFlex.md="100"
        fxFlex.xs="100">
        <mat-label>SuperHero</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="this.hero.superhero"
          required />
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        fxFlex="50"
        fxFlex.sm="100"
        fxFlex.md="100"
        fxFlex.xs="100">
        <mat-label>Alter Ego</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="this.hero.alter_ego"
          required />
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>First Appearance</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="this.hero.first_appearance"
        required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Characters</mat-label>
      <input matInput type="text" [(ngModel)]="this.hero.characters" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Publisher Name</mat-label>
      <mat-select [(value)]="this.hero.publisher">
        <mat-option
          *ngFor="let publisher of this.publishers"
          [value]="publisher">
          {{ publisher }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Photo URL</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="this.hero.alt_img"
        #imageSource
        required />
    </mat-form-field>
    <br />

    <div fxLayout="row" fxLayoutGap="20" *ngIf="!this.hero.id; else editHero">
      <button
        mat-raised-button
        color="primary"
        (click)="this.processSuperHero()"
        fxFlex="50">
        <mat-icon>edit</mat-icon>
        Save
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="this.resetFormFields()"
        fxFlex="50">
        <mat-icon>remove</mat-icon>
        Reset Form
      </button>
    </div>

    <ng-template #editHero>
      <div fxLayout="row" fxLayoutGap="20">
        <button
          mat-raised-button
          color="primary"
          (click)="this.processSuperHero()"
          fxFlex="50">
          <mat-icon>edit</mat-icon>
          Save Edit
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="this.deleteSuperHero()"
          fxFlex="50">
          <mat-icon>delete_forever</mat-icon>
          Delete
        </button>
      </div>
    </ng-template>
  </div>

  <div
    fxFlex="40"
    fxFlex.sm="100"
    fxFlex.md="100"
    fxFlex.xs="100"
    class="hero-avatar">
    <img [src]="this.hero | heroPicture" fxFlex="60" />
  </div>
</div>
